@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #FD6F00;
  }
  

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
  }

/* --------------------------- */

.swiper-slide {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

/* Style for active slide */
.swiper-slide-active {
  opacity: 1;
}

/* Style for next and previous slides (optional, if you want them to have a different opacity) */
.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.4;
}


.swiper-pagination {
  bottom: 10px !important;
  z-index: 100 !important;
}
.swiper-pagination-bullet{
  width: 60px !important;
  height: 16px !important;
  border-radius: 30px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fd6f00 !important;
}


/* ------------------------------- */



.customRange1 {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #FD6F00 95%, #d1d5db 95%, #d1d5db 100%);
  border-radius: 25px;
  outline: none;
}

.customRange2 {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #FD6F00 90%, #d1d5db 90%, #d1d5db 100%);
  border-radius: 25px;
  outline: none;
}
.customRange3 {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #FD6F00 97%, #d1d5db 97%, #d1d5db 100%);
  border-radius: 25px;
  outline: none;
}
.customRange4 {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #FD6F00 95%, #d1d5db 95%, #d1d5db 100%);
  border-radius: 25px;
  outline: none;
}








.customRange1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.customRange1::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}



.customRange1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.customRange1::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}




.customRange2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.customRange2::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}




.customRange3::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.customRange3::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}



.customRange4::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.customRange4::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FD6F00; /* Thumb color changed to #FD6F00 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}